/* CustomModal.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
}

.modal__button {
  color: #fff;
  border: 0;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  background-color: #191d24;
  margin-right: 1rem;
  margin-top: 1rem;
}
.modal__button:hover {
  transform: scale(0.98);
  opacity: 0.9;
}
